<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448763504669-kr35ig6mu29q5r28n77fuue92uhmkkrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448763504669-kr35ig6mu29q5r28n77fuue92uhmkkrp</string>
	<key>API_KEY</key>
	<string>AIzaSyAhyORADsx3g2tHZa0Il7oqJE98hUNKq6g</string>
	<key>GCM_SENDER_ID</key>
	<string>448763504669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lineadeprof</string>
	<key>PROJECT_ID</key>
	<string>lineadeprof2</string>
	<key>STORAGE_BUCKET</key>
	<string>lineadeprof2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448763504669:ios:be0a99e959af9d043cfef4</string>
</dict>
</plist>